itsandbytes>=0.44.1
cryptography>=43.0.3
flask>=3.0.3
llama-cpp-python>=0.3.1
matplotlib>=3.9.2
pandas>=2.2.3
peft>=0.13.2
pyllmsol>=0.1.0
sendgrid>=6.11.0
sentencepiece>=0.2.0
torch>=2.5.0
tqdm>=4.66.5
transformers>=4.45.2
